Repository tokens-studio/graph-engine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx prettier-package-json --write package.json

Better formatting
  .changeset/rich-cups-mix.md
  .eslintrc.cjs
  src/nodes/array/arrify.ts
  src/nodes/logic/common.ts
  src/nodes/logic/not.ts
  src/nodes/logic/or.ts
  src/nodes/logic/switch.ts
  src/nodes/math/add.ts
  src/nodes/math/common.ts
  src/nodes/math/multiply.ts
  src/nodes/set/flatten.ts
  src/nodes/set/remap.ts
  src/utils/tokenFiles.ts
Due: eslint --fix, prettier --write

fix: postinstall break monorepo. Move across to prepare script
  package.json
Due: npx prettier-package-json --write package.json

Add release to move husky off postinstall
  .changeset/eleven-poets-own.md
Due: prettier --write

Fixed remap
  .changeset/lovely-rings-chew.md
  src/nodes/set/remap.ts
Due: eslint --fix, prettier --write

Add new features
  .changeset/weak-dodos-grow.md
  .lintstagedrc
  package.json
  src/nodes/color/advancedBlend.ts
  src/nodes/color/index.ts
  src/nodes/series/harmonic.ts
  src/nodes/set/remap.ts
  src/types.ts
Due: eslint --fix, prettier --write, npx prettier-package-json --write package.json

Add new features for demo
  jest.config.ts
  package.json
  src/nodes/accessibility/colorBlindness.ts
  src/nodes/accessibility/contrast.ts
  src/nodes/accessibility/index.ts
  src/nodes/array/arrify.ts
  src/nodes/array/index.ts
  src/nodes/array/indexArray.ts
  src/nodes/array/join.ts
  src/nodes/array/reverse.ts
  src/nodes/array/slice.ts
  src/nodes/color/advancedBlend.ts
  src/nodes/color/extract.ts
  src/nodes/color/index.ts
  src/nodes/color/scale.ts
  src/nodes/math/index.ts
  src/nodes/math/mod.ts
  src/nodes/series/arithmetic.ts
  src/nodes/set/index.ts
  src/nodes/set/inlineTokens.ts
  src/nodes/set/invert.ts
  src/nodes/set/resolve.ts
  src/types.ts
  tests/data/processed/complex.json
  tests/suites/complex.test.ts
Due: eslint --fix, prettier --write, npx prettier-package-json --write package.json

Add new release
  .changeset/shiny-papayas-yawn.md
  package.json
  yarn.lock
Due: prettier --write, npx prettier-package-json --write package.json

Add additional nodes
  rollup.config.mjs
  src/index.ts
  src/nodes/accessibility/colorBlindness.ts
  src/nodes/accessibility/contrast.ts
  src/nodes/array/arrify.ts
  src/nodes/array/indexArray.ts
  src/nodes/color/create.ts
  src/nodes/generic/input.ts
  src/nodes/input/index.ts
  src/nodes/input/spread.ts
  src/nodes/math/round.ts
  src/nodes/series/geometric.ts
  src/nodes/series/harmonic.ts
  src/nodes/series/index.ts
  src/types.ts
Due: eslint --fix, prettier --write

fix typedoc
  src/nodes/accessibility/colorBlindness.ts
  src/nodes/accessibility/contrast.ts
  src/nodes/array/arrify.ts
  src/nodes/array/indexArray.ts
  src/nodes/array/join.ts
  src/nodes/array/reverse.ts
  src/nodes/array/slice.ts
  src/nodes/generic/input.ts
  src/nodes/generic/output.ts
  src/nodes/input/constant.ts
  tsconfig.docs.json
  typedoc.json
Due: eslint --fix, prettier --write

feat: added OKLCH to color nodes
  src/nodes/color/create.ts
  src/nodes/color/lib/darken.ts
  src/nodes/color/lib/lighten.ts
  src/nodes/color/lib/types.ts
Due: eslint --fix, prettier --write

Add better testing
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  src/core.ts
  src/nodes/color/blend.ts
  src/nodes/math/subtract.ts
  tests/suites/nodes/array/arrify.test.ts
  tests/suites/nodes/array/index.test.ts
  tests/suites/nodes/array/join.test.ts
  tests/suites/nodes/color/blend.test.ts
  tests/suites/nodes/color/create.test.ts
  tests/suites/nodes/math/abs.test.ts
  tests/suites/nodes/math/add.test.ts
  tests/suites/nodes/math/divide.test.ts
  tests/suites/nodes/math/multiply.test.ts
  tests/suites/nodes/math/sub.test.ts
  tests/suites/nodes/string/lowercase.test.ts
  tests/suites/nodes/string/uppercase.test.ts
  tests/suites/nodes/typing/passUnit.test.ts
Due: eslint --fix, prettier --write

feat: added OKLCH to color nodes (#9)
  src/nodes/color/create.ts
  src/nodes/color/lib/darken.ts
  src/nodes/color/lib/lighten.ts
  src/nodes/color/lib/types.ts
Due: eslint --fix, prettier --write

Add oklch and oklab
  src/nodes/color/create.ts
  src/nodes/color/lib/darken.ts
  src/nodes/color/lib/types.ts
Due: eslint --fix, prettier --write

Add oklch and oklab (#10)
  src/nodes/color/create.ts
  src/nodes/color/lib/darken.ts
  src/nodes/color/lib/types.ts
Due: eslint --fix, prettier --write

cleanup imports and linting
  .github/workflows/verify.yml
  package.json
  packages/eslint-config-custom/package.json
  packages/graph-engine/package.json
  packages/graph-engine/src/core.ts
  packages/graph-engine/src/graph/topologicSort.ts
  packages/graph-engine/src/nodes/accessibility/index.ts
  packages/graph-engine/src/nodes/array/index.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/css/index.ts
  packages/graph-engine/src/nodes/generic/index.ts
  packages/graph-engine/src/nodes/index.ts
  packages/graph-engine/src/nodes/input/index.ts
  packages/graph-engine/src/nodes/logic/index.ts
  packages/graph-engine/src/nodes/math/index.ts
  packages/graph-engine/src/nodes/series/index.ts
  packages/graph-engine/src/nodes/set/index.ts
  packages/graph-engine/src/nodes/string/index.ts
  packages/graph-engine/src/nodes/typing/index.ts
  packages/graph-engine/src/types.ts
  packages/ui/package.json
  packages/ui/src/components/flow/nodes/array/join.tsx
  packages/ui/src/components/flow/nodes/generic/inputNode.tsx
  packages/ui/src/components/flow/wrapper/nodeV2.tsx
  packages/ui/src/editor/hotkeys.ts
  packages/ui/src/editor/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write, npx prettier-package-json --write package.json

fix: fetch depth needs to be zero for monorepos
  .github/workflows/verify.yml
Due: none

Add addrs and catalog
  .vscode/settings.json
  adrs/0000-efficient-caching.md
  adrs/0001-strong-typing.md
  catalog-info.yaml
Due: prettier --write

change deploy role
  .github/workflows/release.yml
Due: none

fix: build issues
  .github/workflows/release.yml
  packages/graph-engine/package.json
  packages/graph-engine/src/nodes/generic/input.ts
  packages/ui/next.config.mjs
  packages/ui/package.json
  packages/ui/src/components/flow/wrapper/node.tsx
  yarn.lock
Due: eslint --fix, prettier --write, npx prettier-package-json --write package.json

fix: doc deployment
  .github/workflows/pages.yml
  package.json
  readme.md
Due: prettier --write, npx prettier-package-json --write package.json

fix: issue with publish
  packages/graph-engine/package.json
Due: npx prettier-package-json --write package.json

Changeset release/master (#13)
  packages/graph-engine/package.json
Due: npx prettier-package-json --write package.json

fix: missing docs task
  turbo.json
Due: none

Fix docs release (#14)
  turbo.json
Due: none

Add power node
  packages/graph-engine/.prettierignore
  packages/graph-engine/src/nodes/math/index.ts
  packages/graph-engine/src/nodes/math/pow.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/math/pow.test.ts
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/nodes/index.ts
  packages/ui/src/components/flow/nodes/math/powNode.tsx
Due: eslint --fix, prettier --write

Add power node (#15)
  packages/graph-engine/.prettierignore
  packages/graph-engine/src/nodes/math/index.ts
  packages/graph-engine/src/nodes/math/pow.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/math/pow.test.ts
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/nodes/index.ts
  packages/ui/src/components/flow/nodes/math/powNode.tsx
Due: eslint --fix, prettier --write

fix: expose graph controls, fix drag and drop
  .changeset/real-walls-chew.md
  package.json
  packages/graph-engine/src/graph/index.ts
  packages/ui/src/components/flow/nodes/generic/inputNode.tsx
  packages/ui/src/components/flow/nodes/sets/tokensNode.tsx
  yarn.lock
Due: eslint --fix, prettier --write, npx prettier-package-json --write package.json

fix: expose graph controls, fix drag and drop (#18)
  .changeset/real-walls-chew.md
  package.json
  packages/graph-engine/src/graph/index.ts
  packages/ui/src/components/flow/nodes/generic/inputNode.tsx
  packages/ui/src/components/flow/nodes/sets/tokensNode.tsx
  yarn.lock
Due: eslint --fix, prettier --write, npx prettier-package-json --write package.json

cleanup release build
  package.json
Due: npx prettier-package-json --write package.json

fix: build
  package.json
Due: npx prettier-package-json --write package.json

Add color converter
  packages/graph-engine/src/nodes/color/convert.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/set/invert.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/color/convert.test.ts
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/nodes/color/convertNode.tsx
  packages/ui/src/components/flow/nodes/index.ts
  packages/ui/src/scripts/wdyr.ts
Due: eslint --fix, prettier --write

fix: output
  packages/graph-engine/tests/suites/nodes/color/convert.test.ts
Due: eslint --fix, prettier --write

fix output
  packages/graph-engine/tests/suites/nodes/color/convert.test.ts
Due: eslint --fix, prettier --write

Add color converter (#20)
  packages/graph-engine/src/nodes/color/convert.ts
  packages/graph-engine/src/nodes/color/index.ts
  packages/graph-engine/src/nodes/set/invert.ts
  packages/graph-engine/src/types.ts
  packages/graph-engine/tests/suites/nodes/color/convert.test.ts
  packages/ui/src/components/flow/dropPanel.tsx
  packages/ui/src/components/flow/nodes/color/convertNode.tsx
  packages/ui/src/components/flow/nodes/index.ts
  packages/ui/src/scripts/wdyr.ts
Due: eslint --fix, prettier --write

Fix rgb should match the type of the create color which is technically within gl
  packages/graph-engine/src/nodes/color/convert.ts
  packages/graph-engine/tests/suites/nodes/color/convert.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: ((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)
  prettier --write: (((any of: *.js) or (any of: *.tsx)) or (any of: *.ts)) or (any of: *.md)
  npx prettier-package-json --write package.json: any of: package.json
